@{
    ViewData["Title"] = "Home Page";
}

<div>
    Singleton Id = @ViewBag.Singleton <br/>
    Transient Id = @ViewBag.Transient <br/>
    Scoped Id =  @ViewBag.Scoped <br/>

    <hr/>
    
    Another Service = @ViewBag.AnotherSingleton <br/>
    Another Transient = @ViewBag.AnotherTransient <br/>
    Another Scoped = @ViewBag.AnotherScoped <br/>
</div>